
.height{
  height: 100vh;
  background-color: #dfe4ea;

}
.border{
  border-style: none;

}
.container{
  background-color:cornflowerblue
}
.font{
  font-family: cursive;
  font-size: 50px;
  font-weight: 400;
  color: gray;
}
.font:hover{
color: #2f3542;
}
.kk{
  text-align: center;
  color: #2f3542;
  font-family: cursive;
  font-weight: 600;
  font-size: 20px;
  background-color: #747d8c;


}



